@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

.container {
    margin: 0 auto;
    max-width: 600px;
    padding: 160px;
}

h1 {
    font-family: Montserrat;
    font-weight: 600;
    font-size: 1em;
    line-height: 2em;
    text-align: center;
    color: #fc724d;
}

h2 {
    font-family: Montserrat;
    font-weight: 700;
    font-size: 3em;
    line-height: 2em;
    text-align: center;
}

p {
    font-family: Montserrat;
    font-weight: 500;
    font-size: 1.2em;
    color: #737373;
    text-align: center;
}

form {
    display: flex;
    align-items: center;
    margin-top: 3em;
}

input {
    padding: 20px;
    background-color: #f9f9f9;
    color: #737373;
    border: 1px;
    width: 30rem;
    border-top-left-radius: 5px;
    border-bottom-left-radius
    font-weight: 700;
    
}

.btn {
    padding: 20px;
    background-color: #fc724d;
    color: #fff;
    border: 1px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    font-family: montserrat;
    font-weight: 500;
    cursor: pointer;
}

.btn:hover {
    font-size: 1rem;
    background-color: #737373;
    color: #000;
}
